form input{
    margin: 10px 0;
    width: 100%;
    background: #292929;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    outline: none;

}